<a href="https://colab.research.google.com/github/romanelliaurora/notebooks/blob/master/Reggio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv

In [60]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
!wget -cq https://www.dropbox.com/s/0zq4uwix1h46doq/AutoReggio.csv
!wget -cq https://www.dropbox.com/s/55ndrj1mgjxe79y/ReggioMarche.csv
!wget -cq https://www.dropbox.com/s/e2tls08708rcng9/ReggioModello.csv
!wget -cq https://www.dropbox.com/s/md3vl3ltmzr267n/ClasseEmissReggio.csv
!wget -cq https://www.dropbox.com/s/mtms2lkwa22yc76/ManutenzioniReggioAGGIORNATA2.csv

In [0]:
AutoReggio = pd.read_csv("AutoReggio.csv", sep=';' )

In [0]:
AutoReggio

     Societa  ...                           TipoVeicolo
0          1  ...       Autoveicolo parcheggio Ziccardi
1          1  ...  Pulmino 9 posti autostradale (SCUDO)
2          1  ...                           Autovettura
3          1  ...                           Autovettura
4          1  ...                           Autovettura
..       ...  ...                                   ...
573        1  ...                           Autovettura
574        1  ...                             Autocarro
575        1  ...                           Autovettura
576        1  ...                           Autovettura
577        1  ...                           Autovettura

[578 rows x 17 columns]

In [0]:
ReggioMarche = pd.read_csv("ReggioMarche.csv", sep=';' )

In [0]:
ReggioModello = pd.read_csv("ReggioModello.csv", sep=';' )

In [0]:
ClasseEmissReggio = pd.read_csv("ClasseEmissReggio.csv", sep=';' )

In [0]:
Result = pd.merge(ReggioModello, ReggioMarche, how='left', on='MarcaID')
Result

    MarcaID  ModelloID  ... Descrizione_y  Societa_y
0         1          1  ...          FIAT          1
1         1          3  ...          FIAT          1
2         1          4  ...          FIAT          1
3         1          6  ...          FIAT          1
4         1          8  ...          FIAT          1
5         1         11  ...          FIAT          1
6         1         12  ...          FIAT          1
7         1         18  ...          FIAT          1
8         1         20  ...          FIAT          1
9         1         22  ...          FIAT          1
10        1         46  ...          FIAT          1
11        1         47  ...          FIAT          1
12        1         48  ...          FIAT          1
13        1         49  ...          FIAT          1
14        1         52  ...          FIAT          1
15        1         55  ...          FIAT          1
16        1         64  ...          FIAT          1
17        1         66  ...          FIAT          1
18        1         67  ...          FIAT          1
19        1         68  ...          FIAT          1
20        1         79  ...          FIAT          1
21        3         24  ...       RENAULT          1
22        3         78  ...       RENAULT          1
23        6         56  ...       PIAGGIO          1
24        6         72  ...       PIAGGIO          1
25        6         74  ...       PIAGGIO          1
26        9         34  ...         IVECO          1
27        9         70  ...         IVECO          1
28        9         71  ...         IVECO          1
29       11         76  ...    VOLKSWAGEN          1
30       11         83  ...    VOLKSWAGEN          1
31       12         75  ...       peugeot          1
32       13         40  ...        NISSAN          1
33       14         58  ...        LANCIA          1
34       14         82  ...        LANCIA          1
35       15         59  ...        LANCIA          1
36       17         61  ...       GOLDONI          1
37       18         65  ...         DACIA          1
38       18         81  ...         DACIA          1
39       19         69  ...        ARICAR          1
40       20         73  ...          JEEP          1
41       21         77  ...       citroen          1
42       22         80  ...          SEAT          1

[43 rows x 8 columns]

In [0]:
Result2 = pd.merge(AutoReggio, Result, how='left',  on=['MarcaID', 'ModelloID'])
Result2

     Societa  AutomezzoID  MarcaID  ...  Societa_x  Descrizione_y Societa_y
0          1            1        1  ...          1           FIAT         1
1          1            3        1  ...          1           FIAT         1
2          1            4        1  ...          1           FIAT         1
3          1            5        1  ...          1           FIAT         1
4          1            8        1  ...          1           FIAT         1
..       ...          ...      ...  ...        ...            ...       ...
573        1          578        1  ...          1           FIAT         1
574        1          580        1  ...          1           FIAT         1
575        1          581       11  ...          1     VOLKSWAGEN         1
576        1          582       11  ...          1     VOLKSWAGEN         1
577        1          583       11  ...          1     VOLKSWAGEN         1

[578 rows x 23 columns]

In [0]:
del Result2['Societa_x']
del Result2['Societa_y']
del Result2['ValoreInventario']

In [0]:
Result3 = pd.merge(Result2, ClasseEmissReggio, how='left',  on=['AutomezzoID'])
Result3

     Societa_x  AutomezzoID  ...  EuroEmissione  EuroIDEmissione
0            1            1  ...         Euro 4              4.0
1            1            3  ...         Euro 4              4.0
2            1            4  ...         Euro 2              2.0
3            1            5  ...         Euro 4              4.0
4            1            8  ...         Euro 2              2.0
..         ...          ...  ...            ...              ...
573          1          578  ...        EURO 6+            963.0
574          1          580  ...        EURO 6+            963.0
575          1          581  ...      2018/1832            235.0
576          1          582  ...        2015/45             15.0
577          1          583  ...      2018/1832            235.0

[578 rows x 28 columns]

In [0]:
Result3.drop([199,200], inplace = True)
Result3.reset_index(drop=True, inplace = True)
Result3

     Societa_x  AutomezzoID  ...  EuroEmissione  EuroIDEmissione
0            1            1  ...         Euro 4              4.0
1            1            3  ...         Euro 4              4.0
2            1            4  ...         Euro 2              2.0
3            1            5  ...         Euro 4              4.0
4            1            8  ...         Euro 2              2.0
..         ...          ...  ...            ...              ...
571          1          578  ...        EURO 6+            963.0
572          1          580  ...        EURO 6+            963.0
573          1          581  ...      2018/1832            235.0
574          1          582  ...        2015/45             15.0
575          1          583  ...      2018/1832            235.0

[576 rows x 28 columns]

In [0]:
del Result3['Societa_y']
del Result3['V_9_ClasseEmissione']
del Result3['PrimaRevisione']
del Result3['RevisioniSuccessive']
del Result3['ClassificazioneAutoRegioneId']

Result3.rename(columns={"Descrizione_y": "Marca", "Descrizione_x": "Modello", "Societa_x": "Societa"}, inplace=True)
Result3

     Societa  AutomezzoID  ...  EuroEmissione  EuroIDEmissione
0          1            1  ...         Euro 4              4.0
1          1            3  ...         Euro 4              4.0
2          1            4  ...         Euro 2              2.0
3          1            5  ...         Euro 4              4.0
4          1            8  ...         Euro 2              2.0
..       ...          ...  ...            ...              ...
571        1          578  ...        EURO 6+            963.0
572        1          580  ...        EURO 6+            963.0
573        1          581  ...      2018/1832            235.0
574        1          582  ...        2015/45             15.0
575        1          583  ...      2018/1832            235.0

[576 rows x 23 columns]

In [0]:
columnsTitles = ['Societa','AutomezzoID','MarcaID','Marca','ModelloID','Modello','Posti','TipoVeicoloID','TipoVeicolo','TipoCarburanteID','TipoCarburante','ConsumoMedio','ClasseEmissione','EuroEmissione','EuroIDEmissione','DataDiAcquisto','Immatricolazione','Chilometraggio','ClassePatente','Rottamato','DataRottamazione','KmTagliando']

Result3 = Result3.reindex(columns=columnsTitles)

In [0]:
Result3.isna().sum()

Societa               0
AutomezzoID           0
MarcaID               0
Marca                 0
ModelloID             0
Modello               0
Posti                 4
TipoVeicoloID         0
TipoVeicolo           0
TipoCarburanteID      0
TipoCarburante        0
ConsumoMedio        149
ClasseEmissione       4
EuroEmissione         4
EuroIDEmissione       4
DataDiAcquisto      181
Immatricolazione      4
Chilometraggio       53
ClassePatente         0
Rottamato           244
DataRottamazione    340
KmTagliando           0
dtype: int64

In [0]:
Result3['Immatricolazione'].fillna(method='ffill', inplace = True)
Result3

     Societa  AutomezzoID  ...         DataRottamazione KmTagliando
0          1            1  ...  2014-08-21 12:17:46.330       15000
1          1            3  ...                      NaN       15000
2          1            4  ...  2014-09-22 09:50:22.883       15000
3          1            5  ...                      NaN       15000
4          1            8  ...                      NaN       15000
..       ...          ...  ...                      ...         ...
571        1          578  ...                      NaN           0
572        1          580  ...                      NaN       15000
573        1          581  ...                      NaN       15000
574        1          582  ...                      NaN       15000
575        1          583  ...                      NaN       15000

[576 rows x 22 columns]

In [0]:
Result3['Immatricolazione'] = Result3['Immatricolazione'].astype('datetime64')
Result3['Immatricolazione']

0     2002-07-29
1     2009-12-16
2     1996-01-23
3     2005-09-29
4     1999-08-10
         ...
571   2019-07-19
572   2019-07-19
573   2019-07-17
574   2019-07-17
575   2019-10-21
Name: Immatricolazione, Length: 576, dtype: datetime64[ns]

In [0]:
#pd.set_option('display.max_rows', Imm.shape[0]+1)

In [0]:
Imm=pd.DataFrame({'Data_time':Result3['Immatricolazione']})
Imm

     Data_time
0   2002-07-29
1   2009-12-16
2   1996-01-23
3   2005-09-29
4   1999-08-10
..         ...
571 2019-07-19
572 2019-07-19
573 2019-07-17
574 2019-07-17
575 2019-10-21

[576 rows x 1 columns]

In [0]:
df = pd.DataFrame(Imm.Data_time.dt.strftime('%Y-%m-%d').str.split('-').tolist(),columns=['AnnoImmat','Month','Day'],dtype=int)
df

    AnnoImmat Month Day
0        2002    07  29
1        2009    12  16
2        1996    01  23
3        2005    09  29
4        1999    08  10
..        ...   ...  ..
571      2019    07  19
572      2019    07  19
573      2019    07  17
574      2019    07  17
575      2019    10  21

[576 rows x 3 columns]

In [0]:
del df['Month']
del df['Day']

In [0]:
CarReggio = pd.concat([Result3, df], axis=1, sort=False)
del CarReggio['Immatricolazione']
CarReggio

     Societa  AutomezzoID  ...  KmTagliando AnnoImmat
0          1            1  ...        15000      2002
1          1            3  ...        15000      2009
2          1            4  ...        15000      1996
3          1            5  ...        15000      2005
4          1            8  ...        15000      1999
..       ...          ...  ...          ...       ...
571        1          578  ...            0      2019
572        1          580  ...        15000      2019
573        1          581  ...        15000      2019
574        1          582  ...        15000      2019
575        1          583  ...        15000      2019

[576 rows x 22 columns]

In [0]:
del CarReggio['MarcaID']
del CarReggio['ModelloID']
del CarReggio['TipoVeicoloID']
del CarReggio['TipoCarburanteID']
del CarReggio['EuroEmissione']
del CarReggio['Societa']
del CarReggio['ClassePatente']
del CarReggio['ClasseEmissione']
del CarReggio['KmTagliando']

In [0]:
list(CarReggio)

['AutomezzoID',
 'Marca',
 'Modello',
 'Posti',
 'TipoVeicolo',
 'TipoCarburante',
 'ConsumoMedio',
 'EuroIDEmissione',
 'DataDiAcquisto',
 'Chilometraggio',
 'Rottamato',
 'DataRottamazione',
 'AnnoImmat']

In [0]:
CarReggio["AutomezzoID"] = CarReggio["AutomezzoID"] + 10000
CarReggio

     AutomezzoID       Marca  ...         DataRottamazione  AnnoImmat
0          10001        FIAT  ...  2014-08-21 12:17:46.330       2002
1          10003        FIAT  ...                      NaN       2009
2          10004        FIAT  ...  2014-09-22 09:50:22.883       1996
3          10005        FIAT  ...                      NaN       2005
4          10008        FIAT  ...                      NaN       1999
..           ...         ...  ...                      ...        ...
571        10578        FIAT  ...                      NaN       2019
572        10580        FIAT  ...                      NaN       2019
573        10581  VOLKSWAGEN  ...                      NaN       2019
574        10582  VOLKSWAGEN  ...                      NaN       2019
575        10583  VOLKSWAGEN  ...                      NaN       2019

[576 rows x 13 columns]

In [0]:

CarReggio

     AutomezzoID       Marca  ...         DataRottamazione  AnnoImmat
0          10001        FIAT  ...  2014-08-21 12:17:46.330       2002
1          10003        FIAT  ...                      NaN       2009
2          10004        FIAT  ...  2014-09-22 09:50:22.883       1996
3          10005        FIAT  ...                      NaN       2005
4          10008        FIAT  ...                      NaN       1999
..           ...         ...  ...                      ...        ...
571        10578        FIAT  ...                      NaN       2019
572        10580        FIAT  ...                      NaN       2019
573        10581  VOLKSWAGEN  ...                      NaN       2019
574        10582  VOLKSWAGEN  ...                      NaN       2019
575        10583  VOLKSWAGEN  ...                      NaN       2019

[576 rows x 13 columns]

In [0]:
%store CarReggio

Stored 'CarReggio' (DataFrame)

In [0]:
ManReggio = pd.read_csv("ManutenzioniReggioAGGIORNATA2.csv", sep=';' )
ManReggio["AutomezzoID"] = ManReggio["AutomezzoID"] + 10000
del ManReggio['ManutenzioneEseguiteID']
del ManReggio['Societa']
del ManReggio['DettaglioManutenzioneEseguiteID']
del ManReggio['CodificaAttivitaManutenzioneID']
del ManReggio['Chilometri']
%store ManReggio

Stored 'ManReggio' (DataFrame)

In [0]:
Reggio = pd.merge(ManReggio, CarReggio, how='left', on='AutomezzoID')
Reggio

      AutomezzoID  Importo  ...         DataRottamazione AnnoImmat
0           10025  2000.00  ...  2019-12-18 00:00:00.000      1996
1           10053    37.60  ...  2018-10-30 00:00:00.000      1998
2           10036    93.68  ...  2016-02-01 16:52:46.667      1996
3           10108   189.20  ...  2019-01-25 00:00:00.000      2002
4           10053    45.79  ...  2018-10-30 00:00:00.000      1998
...           ...      ...  ...                      ...       ...
5448        10283   197.38  ...                      NaN      2012
5449        10148   352.80  ...                      NaN      2005
5450        10147   176.40  ...                      NaN      2005
5451        10283   240.80  ...                      NaN      2012
5452        10268    93.44  ...                      NaN      2002

[5453 rows x 17 columns]

In [0]:
list(Reggio)

['AutomezzoID',
 'Importo',
 'DataManutenz',
 'Descrizione',
 'IsAccessorio',
 'Marca',
 'Modello',
 'Posti',
 'TipoVeicolo',
 'TipoCarburante',
 'ConsumoMedio',
 'EuroIDEmissione',
 'DataDiAcquisto',
 'Chilometraggio',
 'Rottamato',
 'DataRottamazione',
 'AnnoImmat']

del Reggio['ManutenzioneEseguiteID']
del Reggio['Societa']
del Reggio['DettaglioManutenzioneEseguiteID']
del Reggio['CodificaAttivitaManutenzioneID']
del Reggio['Chilometri']

In [0]:
Reggio

      AutomezzoID  Importo  ...         DataRottamazione AnnoImmat
0           10025  2000.00  ...  2019-12-18 00:00:00.000      1996
1           10053    37.60  ...  2018-10-30 00:00:00.000      1998
2           10036    93.68  ...  2016-02-01 16:52:46.667      1996
3           10108   189.20  ...  2019-01-25 00:00:00.000      2002
4           10053    45.79  ...  2018-10-30 00:00:00.000      1998
...           ...      ...  ...                      ...       ...
5448        10283   197.38  ...                      NaN      2012
5449        10148   352.80  ...                      NaN      2005
5450        10147   176.40  ...                      NaN      2005
5451        10283   240.80  ...                      NaN      2012
5452        10268    93.44  ...                      NaN      2002

[5453 rows x 17 columns]

In [0]:
Reggio.rename(columns={"Descrizione": "TipoCosto"}, inplace=True)
Reggio

      AutomezzoID  Importo  ...         DataRottamazione AnnoImmat
0           10025  2000.00  ...  2019-12-18 00:00:00.000      1996
1           10053    37.60  ...  2018-10-30 00:00:00.000      1998
2           10036    93.68  ...  2016-02-01 16:52:46.667      1996
3           10108   189.20  ...  2019-01-25 00:00:00.000      2002
4           10053    45.79  ...  2018-10-30 00:00:00.000      1998
...           ...      ...  ...                      ...       ...
5448        10283   197.38  ...                      NaN      2012
5449        10148   352.80  ...                      NaN      2005
5450        10147   176.40  ...                      NaN      2005
5451        10283   240.80  ...                      NaN      2012
5452        10268    93.44  ...                      NaN      2002

[5453 rows x 17 columns]

In [0]:
list(Reggio)

['AutomezzoID',
 'Importo',
 'DataManutenz',
 'TipoCosto',
 'IsAccessorio',
 'Marca',
 'Modello',
 'Posti',
 'TipoVeicolo',
 'TipoCarburante',
 'ConsumoMedio',
 'EuroIDEmissione',
 'DataDiAcquisto',
 'Chilometraggio',
 'Rottamato',
 'DataRottamazione',
 'AnnoImmat']

In [0]:

Reggio

      AutomezzoID  Importo  ...         DataRottamazione AnnoImmat
0           10025  2000.00  ...  2019-12-18 00:00:00.000      1996
1           10053    37.60  ...  2018-10-30 00:00:00.000      1998
2           10036    93.68  ...  2016-02-01 16:52:46.667      1996
3           10108   189.20  ...  2019-01-25 00:00:00.000      2002
4           10053    45.79  ...  2018-10-30 00:00:00.000      1998
...           ...      ...  ...                      ...       ...
5448        10283   197.38  ...                      NaN      2012
5449        10148   352.80  ...                      NaN      2005
5450        10147   176.40  ...                      NaN      2005
5451        10283   240.80  ...                      NaN      2012
5452        10268    93.44  ...                      NaN      2002

[5453 rows x 17 columns]

In [0]:
%store Reggio

Stored 'Reggio' (DataFrame)

In [0]:
a=2
%store a

Stored 'a' (int)

In [64]:
%store

Stored variables and their in-db values:
CarReggio             ->      AutomezzoID       Marca  ...         DataRott
ManReggio             ->       AutomezzoID  Importo             DataManuten
Reggio                ->       AutomezzoID  Importo  ...         DataRottam
a                     -> 2